.endpoint .operations .content > ul,
.endpoint .operations .content > ul > li > ul,
.endpoint .operations .content > ul > li > ul > li > ul {
	list-style: disc outside;
	margin-left: 20px;
}

span.http_method a {
	width: 70px !important;
}

.submit,
.response-content-type,
.parameter-content-type,
.operation-params td:nth-of-type(2),
.operation-params td textarea,
.operation-params td input {
	display: none !important;
}
